* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;


    /* The body is the grid container */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 70px;

    /* This is how I want to divide the grid items */
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "footer footer footer"
    ;
}

nav,
aside {
    background-color: steelblue;
    color: White;
    padding: 20px;
    /* border: skyblue 1px solid; */
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

.button2 {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #cecece;
    font-size: 15px;
    border-radius: 5px;
}

.button2 a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: green;
}

/* Must define the grid areas */
header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}





nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 78, 78);
}

nav a {
    color: white;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: blue;
}

main h2 {
    padding: 10px;
}

main p {
    padding: 10px;
}

p {
    margin-bottom: 20px;
}

.p1 {
    text-decoration: underline;
    color: black;
}

.button {
    display: inline;
    margin: 8px; 
    background-color: black;
    padding: 10px;
    border-radius: 4px;
}

.button:hover {
    opacity: 0.5;
}

.button a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
