@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400&family=Mulish&family=Nunito+Sans&family=Open+Sans&display=swap');


/* Page reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
}

/* Setup color variables */

:root {
    --accent-color: yellow;
    --text-color: white;
    --textHover-color: black;
    --hover-color: grey;

}


body {
    background-color: #F5F7F9;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

header h1 {
    background-color: #EBEFF3;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-size: large;
    border: 2px solid black;
    margin-right: 0px;
    transition: 1s ease-in-out;
    /* transition: transform .8s ease-in-out; */
}

header h1:hover {
    background-color: #15C39A;
    color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    border: 2px solid #ff6600;
    /* transform: rotate(360deg); */
    /* transition: all 1s ease-in; */
    /* transition: 0.5s ease-out; */
    font-size:x-large;
}

h1 {
    display: flex;
    flex-direction:column;
    align-items: center;
}

p {
    padding: 10px;
}

h1 i {
    margin-top: 10px;
}

.fa-js {
    font-size: 40px;
    color: #282C34;
}


/* transition: all 1s ease-out; */