<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Cards</title>
</head>
<body>
    <div class="container">

        
        <div class="card">
            <div class="card-header">
                <img src="./img/rover.jpeg" alt="">
            </div>
            <div class="card-body">
                <span class="tag tag-teal">Technology</span>
                <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
                <p>An exploration into the truck's polarising design.</p>

                <div class="user">
                    <img src="./img/user-1.jpg" alt="">
                    <div class="user-info">
                        <h5>Sarah Jones</h5>
                        <small>2h ago</small>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <img src="./img/ballons.jpeg" alt="">
            </div>
            <div class="card-body">
                <span class="tag tag-purple">Technology</span>
                <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
                <p>An exploration into the truck's polarising design.</p>

                <div class="user">
                    <img src="./img/user-2.jpg" alt="">
                    <div class="user-info">
                        <h5>Marc Norris</h5>
                        <small>1h ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <img src="./img/city.jpeg" alt="">
            </div>
            <div class="card-body">
                <span class="tag tag-pink">Technology</span>
                <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
                <p>An exploration into the truck's polarising design.</p>

                <div class="user">
                    <img src="./img/user-3.jpg" alt="">
                    <div class="user-info">
                        <h5>Jenny Hill</h5>
                        <small>4h ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>